body {
  color: #383838 !important;
  background-color: #f8f8f8 !important;
}

a {
  text-decoration: none !important;
}

.dot-label {
  font-size: 1.3rem;
  color: #383838;
}

.resize-sensor {
  opacity: 0;
}
